.image {
    width: 600px;
    display: block;
  }
  
  .polaroid {
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-top: 20px;
      height:fit-content;
      width: 600px;
      margin: 10px auto;
      text-align: center;
    }
    
  .container {
      text-align: center;
      padding: 10px 20px;
    }

  .clicked {
    color: red;
  }

    @media screen and (max-width: 900px) and (min-width: 601px) {
        .polaroid {
          width: 400px;
        }
        .image {
         width: 400px; 
    }
}
    
    @media screen and (max-width: 600px) {
        .polaroid {
            width: 300px;
          }
          .image {
           width: 300px; 
      }
    }
    